SelectWebClient/App_WebReferences/ServiceReference/ShowService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfShowInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ShowInfo" nillable="true" type="tns:ShowInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfShowInfo" nillable="true" type="tns:ArrayOfShowInfo" />
  <xs:complexType name="ShowInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="ShowDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ShowName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ShowStartTime" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ShowInfo" nillable="true" type="tns:ShowInfo" />
</xs:schema>